*{
    padding: 0;
    margin: 0;
}

:root {
    --Marrom:#70360cbe;
    --Dourado:#c4982b;
    --Off-White:#FAF9F6;
    --logo:"Bodoni Moda", serif;
    --nav:"Raleway", sans-serif;
    --corpo: "Roboto", sans-serif;
    --frase:"Dancing Script", cursive;
}

body {
    font-family: var(--corpo);
    background-color: var(--off-white);
    color:var(--Marrom);
    margin: 0;
}


header {
    background-color: var(--off-white);
    padding: 20px;
    text-align: center;
}

.header-content h1 {
    font-family: var(--logo);
    color:var(--Dourado);
    font-size: 60px;
}

.nav-itens {
    list-style: none;
    padding: 10px 0;
}

.nav-itens li {
    display: inline-block;
    margin-right: 30px;
}

.nav-itens li a {
    text-decoration: none;
    font-family: var(--nav);
    color:var(--Marrom);
    font-size: 20px;
    transition: color 0.3s;
}

.nav-itens li a:hover {
    color:var(--Dourado);
}

body{
    background-color: var(--off-white);
}

.container-slide{
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    white-space: nowrap;
    overflow:hidden;
}

.paginas-slide{
    display: inline-block;
    animation: anima 20s linear infinite;
}

.paginas-slide img{
    width:300px; 
}

 @keyframes anima {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.main-index {
    padding: 20px;
}

.section-artigo{
    margin-top: 50px;
}

#cafeteria{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#sub-titulo {
    font-family: var(--logo);
    color: var(--Marrom);
    font-size:30px;
    margin-bottom: 30px;
    text-align: center;
    
}

.texto {
    font-family: var(--corpo);
    color: var(--marrom);
    font-size:20px;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 20px;
}

.frase {
    font-family: var(--frase);
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: center;
    font-size: 50px;
    color:var(--Dourado);
    margin:300px
}

.cardapio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 300px;
}

#O-Chef {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#O-Chef .sub-titulo {
    color: var(--dourado);
}

#O-Chef .imagem-circular {
    border-radius: 50%;
    margin-top: 20px;
    max-width: 200px;
}

.bnt {
    background-color:var(--Dourado);
    color:var(--Off-White);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-family: var(--nav);
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.bnt a {
    text-decoration: none;
    color: inherit;
}

.bnt:hover {
    background-color:var(--Marrom);
}

footer {
    background-color: var(--off-white);
    border-top: solid 1px #c4c2c294;
    color: var(--off-white);
    padding: 20px;
    text-align: center;
}

.social-icons a {
    margin: 0 10px;
    color:var(--marrom);
    font-size:30px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color:var(--Dourado);
}

.criadora {
    color: var(--marrom);
    font-family: var(--nav);
    margin-top: 10px;
}



.main-cardapio{
    text-align: center;
}

.menu-cardapios {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}
  
#cardapios {
    padding: 20px;
    background-color:var(--Off-White);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.explore {
    text-align: center;
    font-size: 1.5rem;
    color:var(--Marrom);
    margin-bottom: 40px;
}
  
article {
    margin-bottom: 40px;
}
  
.sub-titulo {
    font-size: 2rem;
    color: var(--Dourado);
    border-bottom: 2px solid #70360C; 
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
  
article p {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #555;
}
  

ul {
    list-style: none;
    padding: 0;
}
  
ul li {
    background-color:--Off-White;
    padding: 10px;
    margin: 8px 0;
    font-size: 1.1rem;
}

.Eventos {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background-color:var(--Off-White);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
section p {
    font-size: 1.2rem;
    color: #555;
    text-align: center;
    margin-bottom: 30px;
}
  
article {
    margin-bottom: 40px;
}
  
article p {
    font-size: 1.1rem;
    color: #555;
}
  

.informacoes {
    text-align: center;
    margin-top: 30px;
    margin: 50px;
}
  
.informacoes button {
    background-color: #70360C;
    color: #FAF9F6;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.informacoes button:hover {
    background-color:var(--Dourado);
}
  
.informacoes a {
    color:var(--Off-White);
    text-decoration: none;
}

.informacoes>p{
    font-size: 20px;
    font-weight: bold;
    color: #555;
}

.main-eventos{
    text-align: center;
}

.main-reservas{
    padding: 20px;
    background-color:var(--Off-White);
    font-family:var(--corpo);
}
  
.formulario {
    max-width: 600px; 
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.formulario h2 {
    font-size: 24px;
    color:var(--Marrom);
    margin-bottom: 10px;
}
  
.formulario p {
    font-size: 16px;
    color:var(--Marrom);
    margin-bottom: 20px;
}
  

.formulario form div {
    margin-bottom: 15px;
}
  
.formulario label {
    font-size: 14px;
    color: var(--Marrom);
    display: block;
    margin-bottom: 5px;
}
  
  .formulario input[type="text"],
  .formulario input[type="email"],
  .formulario input[type="tel"],
  .formulario input[type="date"],
  .formulario input[type="time"],
  .formulario input[type="number"],
  .formulario select,
  .formulario textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
  }
  
  .formulario input[type="text"]:focus,
  .formulario input[type="email"]:focus,
  .formulario input[type="tel"]:focus,
  .formulario input[type="date"]:focus,
  .formulario input[type="time"]:focus,
  .formulario input[type="number"]:focus,
  .formulario select:focus,
  .formulario textarea:focus {
    border-color:var(--Marrom);
    outline: none;
}
  
.formulario button[type="submit"] {
    background-color: var(--Marrom);
    color:var(--Off-White);
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}
  
.formulario button[type="submit"]:hover {
    background-color:var(--Dourado);
  }

